<div class="container">
  <h1>All Organizations</h1>
  <% @organizations.each do |org| %>
    <%= link_to org.name, organization_path(org.flags) %><br>
    <strong>Email: </strong><%= org.email %><br>
    <strong>Phone: </strong><%= org.phone %><br>
    <strong>Bio: </strong><%= org.bio %>
    <hr>
  <% end %>
</div>
