<div class="container">
  <h1>All Organizations</h1>
  <% @organizations.each do |org| %>
  </br>
  <div class="card">
  <h5 class="card-header"><%= org.name %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= org.phone %></h5>
    <p class="card-text"><%= org.bio %></p>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
</br>
  <% end %>
  <%= link_to 'Logout', destroy_user_session_path,:method => :delete %>
</div>
